.timerBtn{
    width: 80px;
    height: 30px;
    border: 3px solid;
    border-radius: 12px;
    background-color: gray;
    color: white;
    cursor: pointer;
    font-family: consolas, monospace;
}
#timeDisplay{
    font-size: 75px;
    color: green;
    font-family: consolas, monospace;
}
#timeContainer{
    text-align: center;
    border: 3px solid;
    border-radius: 25px;
    background-color: black;
}